* {
    margin: 0;
    font-family: 'Roboto';
}

body {
    background-color: #232323;
    color: aliceblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    left: 1px;
    right: 1px;
    height: 100px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    padding: 0 20px;
    z-index: 1000;

    animation: headerEnter 0.6s ease-out;
}

.art2 {
    display: none !important;
}

.obrazek {
    width: 70%;
    background-image: url("foto/Foto\ 1.jpg");
    background-size: cover;
    height: auto;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 10px;
}
.obrazek1 {
    width: 70%;
    background-color: #0863F7;
    background-size: cover;
    height: auto;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

.obrazek1::before{
    content: "Certyfikaty";
      color: white;
        font-size: 24px;
}

.obrazek2 {
    width: 70%;
    background-color: #10f708;
    background-size: cover;
    height: auto;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

.obrazek2::before{
    content: "Realizacje";
      color: white;
        font-size: 24px;
}

.obrazek3 {
    width: 70%;
  background-image: url("foto/Foto\ 8.jpg");
    background-size: cover;
    margin: 0 auto;
}
.obrazek4{
       width: 70%;
  background-image: url("foto/Foto\ 9.png");
    background-size: cover;
    margin: 0 auto;
}
.tekst_w_box1 {
    width: 80% !important;
    margin: 0 auto;
    margin: 1vw;
}

/* logo svg */
.logo {
    width: 240px;
}

tspan {
    white-space: pre
}

.t0 {
    font-size: 137px;
    fill: #ffffff;
    font-weight: bold;
    font-family: "Corbel"
}

.t1 {
    font-size: 137px;
    fill: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-family: "Corbel"
}

.s2 {
    fill: #ffffff
}

.t3 {
    font-size: 38px;
    fill: #ffffff;
    font-family: "Lucida Console";
}

/* From Uiverse.io by iZOXVL */
.boton-elegante {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.5em;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

.boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.25) 0%,
            rgba(255, 255, 255, 0) 70%);
    transform: scale(0);
    transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
    transform: scale(4);
}

.boton-elegante:hover {
    border-color: #666666;
    background: #292929;
}

/* zadzwoń przycisk */
.btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(255, 139, 31);
    --btn-bg-2: rgb(196, 91, 0);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    padding: 0.9em 1.4em;
    min-width: 120px;
    max-height: 44px;
    font-size: var(--size, 1rem);
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg,
            var(--btn-bg-2) 0%,
            var(--btn-bg-1) 55%,
            var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow:
        0px 0px 20px rgba(255, 157, 71, 0.5),
        0px 5px 5px -1px rgba(233, 119, 58, 0.25),
        inset 4px 4px 8px rgba(255, 204, 175, 0.5),
        inset -4px -4px 8px rgba(216, 114, 19, 0.35);
}

.btn-donate:hover {
    background-position: right top;
}

@media (prefers-reduced-motion: reduce) {
    .btn-donate {
        transition: linear;
    }
}

.contener {
    width: 100%;
}
.bak{
    margin: 1.5vw;
}

.box1 {
    display: flex;
    padding-top: 8vw;
    padding-bottom: 2vw;
    min-height: 20vw;
}

.tekst_w_box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(30px, 2.5vw, 50px);
    ;
    width: 30%;
}

.box2 {
    display: flex;
    /* padding-bottom: 8vw; */
    justify-content: center;
    text-align: center;
    font-size: 1.5vw;
    height: fit-content;
    align-items: stretch;
}

.art1 {
    display: flex;
    flex-direction: row;
    gap: 7px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-top: 1.5vw;
}


/* .card:hover {
    transform: scale(1.05);
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.15),
        0 50px 40px rgba(0, 0, 0, 0.1),
        0 87px 52px rgba(0, 0, 0, 0.05);
    z-index: 10;
} */

.card:first-child {
    transform-origin: left center;
}

.card:last-child {
    transform-origin: right center;
}

/* .content h4 {
    /* margin: 0 0 10px 0; */
/* align-self: flex-start; */
/* wymusza górę */


.content p {
    flex: 1;
    /* tekst zajmuje resztę miejsca */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

/* kolejny artikiel */

.card1 {
    cursor: pointer;
    margin-top: 20px;
    width: 350px;
    height: 300px;
    padding: 25px;
    background:
        radial-gradient(178.94% 106.41% at 26.42% 106.41%,
            #ff9966 0%,
            rgba(255, 255, 255, 0) 71.88%),
        #FFFFFF;
    box-shadow:
        0 10px 21px rgba(0, 0, 0, 0.1),
        0 39px 39px rgba(0, 0, 0, 0.09),
        0 87px 52px rgba(0, 0, 0, 0.05);


    transition:
        transform 0.35s cubic-bezier(0.15, 0.83, 0.66, 1),
        box-shadow 0.35s ease,
        z-index 0s;
    will-change: transform;

    display: flex;
    justify-content: center;
    font-size: 30px;

    border-radius: 2px;
    position: relative;
    z-index: 0;
}

.card1:hover {
    transform: scale(1.05);
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.15),
        0 50px 40px rgba(0, 0, 0, 0.1),
        0 87px 52px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.card1:first-child {
    transform-origin: left center;
    background-image: url("foto/Foto\ 4.jpg");
    background-size: cover;

}

.card1:nth-of-type(2) {
    transform-origin: left center;
    background-image: url("foto/Foto\ 5.jpg");
    background-position: center;
    background-size: cover;
}

.card1:nth-of-type(3) {
    transform-origin: left center;
    background-image: url("foto/Foto\ 6.jpg");
    background-size: cover;
}

.card1:last-child {
    transform-origin: right center;
    background-image: url("foto/Foto\ 7.webp");
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    /* top:0 right:0 bottom:0 left:0 */
    background: rgba(0, 0, 0, 0.5);
    /* stopień zaciemnienia */
}


.cards-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    width: 100%;
}

.card3 {
    width: 40%;
    height: 254px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card3:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.content1 {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
    position: relative;
}

.front,
.back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 150px;
    height: 1000%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
}

.back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@keyframes rotation_481 {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

h3 {
    text-align: center;
}

h2 {
    color: #ff9966;
}

section>p {
    font-size: clamp(20px, 1.5vw, 2vw);
    color: aliceblue;
    padding: 3vw;
}

.skos .content {
    max-width: 80%;
}

.prawy .content {
    padding-left: 6vw;
}

.lewy .content {
    padding-right: 6vw;

}

.skos.lewy {


    color: aliceblue;
}

.zdjecie1 {
    background-image: url("foto/Foto\ 2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.skos.prawy {
    color: aliceblue;
}

.zdjecie2 {
    background-image: url("foto/");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie3 {
    background-image: url("foto/Foto\ 10.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie4 {
    background-image: url("foto/Foto\ 11.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie5 {
    background-image: url("foto/Foto\ 12.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie6 {
    background-image: url("foto/Foto\ 13.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie7 {
    background-image: url("foto/Foto\ 14.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie8 {
    background-image: url("foto/Foto\ 15.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie9 {
    background-image: url("foto/Foto\ 16.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie10 {
    background-image: url("foto/Foto\ 17.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie11 {
    background-image: url("foto/Foto\ 18.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie12 {
    background-image: url("foto/Foto\ 19.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.zdjecie13 {
    background-image: url("foto/Foto\ 20.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* social media */
.card4 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5vw 1.5vw;
    gap: 2vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.422);
    position: fixed;
    bottom: 2vw;
    left: 0.5vw;
    z-index: 9999;
}

.socialContainer {
    max-width: 52px;
    width: 10vw;
    max-height: 52px;
    height: 10vw;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    position: relative;
}

/* Instagram */
.containerOne:hover {
    background-color: #d62976;
    transform: scale(1.5);
    border-radius: 15px;
}

/* Youtube */
.containerTwo:hover {
    background-color: #FF0000;
    transform: scale(1.5);
    border-radius: 15px;
}

/* OLX */
.containerThree:hover {
    background-color: #23E5DB;
    transform: scale(1.5);
    border-radius: 15px;
}

/* FB */
.containerFour:hover {
    background-color: #0863F7;
    transform: scale(1.5);
    border-radius: 15px;
}

/* email */
.containerFive:hover {
    background-color: #e4c526;
    transform: scale(1.5);
    border-radius: 15px;
}

.socialContainer:active {
    transform: scale(0.9);
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: white;
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card4:has(.socialContainer:hover) .socialContainer:not(:hover) {
    opacity: 0.1;
}

/* mapa */

.map-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center !important;
    margin: 0 auto !important;

}

.map {
    width: 90%;
    height: 30vw;
    /* skaluje się z szerokością ekranu */
    min-height: 250px;
    /* minimum na telefon */
    max-height: 500px;
    /* maksimum na duży ekran */
}

.box3 {
    display: flex;
    justify-content: center;
    display: flex;
    padding-top: 8vw;
    padding-bottom: 2vw;
}

.box4 {
    width: 50%;
    height: 30vw;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    font-size: 2vw;
    padding: 0 40px 0 40px;
}

.ul {
    font-size: 1.5vw;
    margin: 2vw;
}

li {
    margin: 10px;
}

.box5 {
    padding: 2vw;
    font-size: 1.5vw;
}

.box6{
    background-image: url("foto/Foto\ 21.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.track {
    display: flex;
    gap: 20px;
    will-change: transform;
}

.card {
    min-width: 280px;
    color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 2vw;
    width: 350px;
    height: 235px;
    padding: 25px;
    background:
        radial-gradient(178.94% 106.41% at 26.42% 106.41%,
            #ff9966 0%,
            rgba(255, 255, 255, 0) 71.88%),
        #353535;
    box-shadow:
        0 10px 21px rgba(0, 0, 0, 0.1),
        0 39px 39px rgba(0, 0, 0, 0.09),
        0 87px 52px rgba(0, 0, 0, 0.05);


    transition:
        transform 0.35s cubic-bezier(0.15, 0.83, 0.66, 1),
        box-shadow 0.35s ease,
        z-index 0s;
    will-change: transform;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;

    position: relative;
    z-index: 0;
}

/* @media (max-width: 900px) {

    .lewy,
    .prawy {
        clip-path: none !important;
        width: 50% !important;
    }

    .skos {
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .prawy .content,
    .lewy .content {
        padding-left: 0;
        padding-right: 0;
        max-width: 90%;
        text-align: center;
    }

    header {
        position: static;
    }

    .art1 {
        flex-direction: column !important;
        gap: 10px;
    }

    .card {
        box-sizing: border-box;
        width: 100% !important;
        height: 100px !important;
        transition: none !important;
    }

  .card1 {
    margin: 0% auto !important;
        width: 90% !important; 
        transition: none !important;
    }

    .card1:hover {
        transform: none !important;
        box-shadow: none !important;
    }

    .box1 {
        padding-top: 1vw !important;
        width: 100% !important;
        flex-direction: column;
    }
    .obrazek{
        width: 100%;
    }



  
    .card {
        height: max-content !important;
        border-radius: 0% !important;
    }

} */


@media (max-width: 1100px) {
    .slider {
        display: none;
    }

    .art2 {
        display: flex !important;
        flex-direction: column;
        width: 100% !important;
    }

    .art1 {
        display: flex !important;
        flex-direction: column;
        width: 100% !important;
    }

    .card {
        width: 100% !important;
        padding: 0% !important;
    }

    .card1 {
        width: 100% !important;
        padding: 0% !important;
    }

    .card1:hover {
        transition: none;
    }

    .boton-elegante {
        display: none;
    }
    .box1{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

@media (min-width: 701px) {
    .skos {
        width: 80%;
    }

    .text {
        width: 43.5%;
    }

    .lewy {
        clip-path: polygon(0 0, 100% 0, 85% 100%, 0 100%);
        background-color: azure;
        /* background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
    background-position: 30% 70%;
    background-size: cover;
    background-attachment: fixed; */
        justify-content: center;
        align-items: center;
        display: flex;
        color: black;
        font-size: 2.5vw;
    }

    .prawy {
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
        background-color: azure;
        justify-content: center;
        align-items: center;
        display: flex;
        color: black;
        font-size: 2.5vw;
        /* background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
    background-position: 30% 70%;
    background-size: cover;
    background-attachment: fixed; */
    }
}

@media (max-width: 700px) {
    header {
        position: static;
        height: 90px;
    }

    .logo {
        width: 180px;
    }

    .btn-donate {
        --size: 2.5vw;
        height: 40px;
    }

    footer {
        display: block;
    }

    section {
        height: 350px;
    }


    .containerOne {
        background-color: #d629778d;
    }


    .containerTwo {
        background-color: #ff000072;
    }


    .containerThree {
        background-color: #23e5db72;
    }


    .containerFour {
        background-color: #0864f77b;
    }

    .socialContainer {
        transform: none;
        border-radius: 0;
        transition: none;
    }

    .containerOne:hover,
    .containerTwo:hover,
    .containerThree:hover,
    .containerFour:hover {
        transform: none;
        border-radius: inherit;
    }

    .card1:hover {
        transform: none;
        box-shadow: none;
        z-index: 10;
    }

    .card1 {
        padding: 0;
    }

    .socialContainer:active {
        transform: none;
    }

    .cards-wrapper {
        flex-direction: column;
    }

    .card3 {
        width: 100%;
        padding-top: 1vw;
    }

    .card4 {
        display: none;
    }

    .card3:hover {
        transform: none;
    }

    .box2 {
        flex-direction: column;
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .box2 {
        flex-direction: column;
    }

    .skos {
        width: 100%;
    }

    .text {
        width: 100%;
    }

    .lewy {
        background-color: azure;
        /* background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
    background-position: 30% 70%;
    background-size: cover;
    background-attachment: fixed; */
        justify-content: center;
        align-items: center;
        display: flex;
        color: black;
        font-size: 2.5vw;
    }

    .prawy {
        background-color: azure;
        justify-content: center;
        align-items: center;
        display: flex;
        color: black;
        font-size: 2.5vw;
        /* background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
    background-position: 30% 70%;
    background-size: cover;
    background-attachment: fixed; */
    }
}