* {
    margin: 0;
    font-family: 'Roboto';
}

body {
    background-color: #232323;
    color: aliceblue;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    left: 1px;
    right: 1px;
    height: 100px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    padding: 0 20px;
    z-index: 1000;

    animation: headerEnter 0.6s ease-out;
}

@keyframes headerEnter {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1100px) {
    header {
        position: static;
    }

    .art1 {
        flex-direction: column !important;
        gap: 10px;
    }

    .card {
        box-sizing: border-box;
        width: 100% !important;
        height: 100px !important;
        transition: none !important;
    }

    .card:hover {
        transform: none !important;
        box-shadow: none !important;
    }
}

@media (max-width: 700px) {
    header {
        position: static;
        height: 90px;
    }

    .logo {
        width: 180px !important;
    }

    .btn-donate {
        --size: 2.5vw;
        height: 40px;
    }

    .card1 {
        display: none !important;
    }

    footer {
        display: block !important;
    }

    section {
        height: 350px;
    }

    /* Instagram */
    .containerOne {
        background-color: #d629778d !important;
    }

    /* Youtube */
    .containerTwo {
        background-color: #ff000072 !important;
    }

    /* OLX */
    .containerThree{
        background-color: #23e5db72 !important;
    }

    /* FB */
    .containerFour {
        background-color: #0864f77b !important;
    }

    /* dla wszystkich socialContainer */
    .socialContainer {
        transform: none !important;
        /* background-color: rgb(44, 44, 44) !important; */
        border-radius: 0 !important;
        /* jeśli chcesz */
        transition: none !important;
    }

    /* usuń hover dla poszczególnych kontenerów */
    .containerOne:hover,
    .containerTwo:hover,
    .containerThree:hover,
    .containerFour:hover {
        transform: none !important;
        border-radius: inherit !important;
    }

    /* usuń active */
    .socialContainer:active {
        transform: none !important;
    }

    @media (hover: hover) {
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
        }
    }



}

/* logo svg */
.logo {
    width: 240px;
}

tspan {
    white-space: pre
}

.t0 {
    font-size: 137px;
    fill: #ffffff;
    font-weight: bold;
    font-family: "Corbel"
}

.t1 {
    font-size: 137px;
    fill: #ffffff;
    font-weight: bold;
    font-style: italic;
    font-family: "Corbel"
}

.s2 {
    fill: #ffffff
}

.t3 {
    font-size: 38px;
    fill: #ffffff;
    font-family: "Lucida Console"
}


footer {
    display: none;
    height: 100px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    gap: 20px;
    font-size: 150%;
    /* margin: 5%; */

}

.cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    overflow: hidden;
}

/* fancy sekcja article */

.content {
    position: relative;
    z-index: 2;
    color: #ffffff;
    /* albo #fff zależnie od tła */
    padding: 20px;
    font-size: 170%;
    text-shadow: 0 0px 10px rgba(0, 0, 0, 0.758);
}

.card {
    position: relative;
    background-image: url("zdjecie.jpg");
    background-size: cover;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
    background: rgba(255, 255, 255, 0.3);
}


.card {
    width: 350px;
    height: 235px;
    padding: 25px;
    /* background:
        radial-gradient(178.94% 106.41% at 26.42% 106.41%,
            #FFF7B1 0%,
            rgba(255, 255, 255, 0) 71.88%),
        #FFFFFF;
    box-shadow:
        0 10px 21px rgba(0, 0, 0, 0.1),
        0 39px 39px rgba(0, 0, 0, 0.09),
        0 87px 52px rgba(0, 0, 0, 0.05); */


    transition:
        transform 0.35s cubic-bezier(0.15, 0.83, 0.66, 1),
        box-shadow 0.35s ease,
        z-index 0s;
    will-change: transform;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;

    border-radius: 2px;
    position: relative;
    z-index: 0;
}

.card:hover {
    transform: scale(1.05);
    box-shadow:
        0 20px 30px rgba(0, 0, 0, 0.15),
        0 50px 40px rgba(0, 0, 0, 0.1),
        0 87px 52px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.card:first-child {
    transform-origin: left center;
}

.card:last-child {
    transform-origin: right center;
}

.odstep {
    height: 50px;
}

.sec1 {
    min-height: 150px;
    /* background-image: url("images/img1.jpg"); */
    background-color: #232323;
    background-repeat: no-repeat;
    background-position: 30% 70%;
    background-size: cover;

}

.sec2 {
    background-image: url("images/img2.jpg");
    background-repeat: no-repeat;
    background-position: 70% 30%;
    background-size: cover;
    background-attachment: fixed;
    min-height: 200px;
}

.sec3 {
    min-height: 200px;
    background-image: url("images/img3.jpg");
    background-repeat: no-repeat;
    background-position: 30% 70%;
    background-size: cover;
    background-attachment: fixed;
}


.text_sec_title {
    font-size: clamp(30px, 3vw, 50px);
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.text_sec_title.show {
    opacity: 1;
    transform: translateY(0);
}

section>p {
    font-size: clamp(20px, 2vw, 2vw) !important;
}

.sec4 {
    height: 100px;
    /* background-image: url("images/img4.jpg"); */
    background-color: #232323;
    background-repeat: no-repeat;
    background-position: 70% 30%;
    background-size: cover;
    height: 10px !important;
}

.art1 {
    display: flex;
    flex-direction: row;
    gap: 7px;
}


.btn-donate {
    --clr-font-main: hsla(0 0% 20% / 100);
    --btn-bg-1: rgb(255, 139, 31);
    --btn-bg-2: rgb(196, 91, 0);
    --btn-bg-color: hsla(360 100% 100% / 1);
    --radii: 0.5em;
    cursor: pointer;
    /* display: flex;
    justify-self: flex-end !important; */
    padding: 0.9em 1.4em;
    min-width: 120px;
    max-height: 44px;
    font-size: var(--size, 1rem);
    font-weight: 500;
    transition: 0.8s;
    background-size: 280% auto;
    background-image: linear-gradient(325deg,
            var(--btn-bg-2) 0%,
            var(--btn-bg-1) 55%,
            var(--btn-bg-2) 90%);
    border: none;
    border-radius: var(--radii);
    color: var(--btn-bg-color);
    box-shadow:
        0px 0px 20px rgba(255, 157, 71, 0.5),
        0px 5px 5px -1px rgba(233, 119, 58, 0.25),
        inset 4px 4px 8px rgba(255, 204, 175, 0.5),
        inset -4px -4px 8px rgba(216, 114, 19, 0.35);
}

.btn-donate:hover {
    background-position: right top;
}

@media (prefers-reduced-motion: reduce) {
    .btn-donate {
        transition: linear;
    }
}

.card2 {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    padding: 4vw 4vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    position: relative;
}

.card1 {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5vw 1.5vw;
    gap: 2vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.422);
    position: fixed;
    bottom: 2vw;
    left: 0.5vw;
    z-index: 9999;
}

.socialContainer {
    max-width: 52px;
    width: 10vw;
    max-height: 52px;
    height: 10vw;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 0.3s;
    position: relative;
}

/* Instagram */
.containerOne:hover {
    background-color: #d62976;
    transform: scale(1.5);
    border-radius: 15px;
}

/* Youtube */
.containerTwo:hover {
    background-color: #FF0000;
    transform: scale(1.5);
    border-radius: 15px;
}

/* OLX */
.containerThree:hover {
    background-color: #23E5DB;
    transform: scale(1.5);
    border-radius: 15px;
}

/* FB */
.containerFour:hover {
    background-color: #0863F7;
    transform: scale(1.5);
    border-radius: 15px;
}

.socialContainer:active {
    transform: scale(0.9);
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: white;
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.card1:has(.socialContainer:hover) .socialContainer:not(:hover) {
    opacity: 0.1;
}